*{
    margin:0;
}

body{
    font-family: Inter;
}

p{
    font-size:15px;
}


.content{
    padding:55px 150px;
}

.nav{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.nav-logo img{
    width:70px;
}

.nav-items{
    display:flex;
    color: rgb(97, 94, 94);
}

.nav-items li{
   list-style:none;
   padding-left: 30px;
   transition: 0.5s;

}

.nav-items li:hover{
    color:hsl(5, 85%, 63%);
    cursor:pointer;
}

.hero{
    display:flex;
    padding-top:40px;
}

img{ 
   width:785px;
}

.left{
    margin-right:30px
}

.right{
    background-color:hsl(240, 100%, 5%);
    color:white;
    padding:20px 20px 0 20px
}

.right h3{
    color:rgb(226, 165, 50);
    font-size:35px;
    font-weight:400px;
}

.items{
    display:flex;
    flex-direction:column;
}

.items .it{
    padding: 35px 0;
    border-bottom:0.5px solid hsl(236, 13%, 42%);
}

.it p{
    padding:10px 0;
    color:hsl(233, 8%, 79%);
}
 
.it:last-child{
    border:none;
}

.it h4{
    color:hsl(36, 100%, 99%);
    font-weight: 700;
    font-size: 20px;
    transition: 0.5s;
}

.it h4:hover{
    color:hsl(35, 77%, 62%);
    cursor:pointer;
}

.read-more-btn{
    border:none;
    background-color:hsl(5, 85%, 63%);
    color:white;
    padding:15px 35px;
    font-family: Inter;
    letter-spacing:2px;
    font-weight:bold;
    transition: 0.5s;
    margin-top:40px;
}

.read-more-btn:hover{ 
    background-color:black;
    color:white;
    cursor: pointer;
}

.text-area{
    display:flex;
    flex-direction: row;
    padding-top:20px;
    margin:0;
    width:750px;
}

.right-text{
    color: rgb(97, 94, 94);
    line-height: 25px;
    padding-left:40px;
}

.right-text p{
    margin:0;
    width:350px;
    
}

.text-area h3{
    font-size:53px;
    font-weight:800;
    max-width:350px;
    margin-right: 60px;
    color:hsl(240, 100%, 5%);
   
}

.features{
    display:flex;
    flex-direction: row;
    padding:50px 0;
    justify-content: space-between;
}

.feature img{
    width:100px;
    padding-right: 25px;
}

.feature{
    display:flex;
    
}

.feature-text{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}

.feature-text h2{
    font-size:35px;
    color:rgb(192, 190, 190);
}

.feature-text h4{
    color:hsl(240, 100%, 5%);
    font-size: 18px;
    transition:0.5s;
}


.feature-text h4:hover{
    color:hsl(5, 85%, 63%);
    cursor:pointer;
}

.feature-text p{
    color: hsl(236, 13%, 42%);
}


/* Off-white: hsl(36, 100%, 99%)
Grayish blue: hsl(233, 8%, 79%)
Dark grayish blue: hsl(236, 13%, 42%)
Very dark blue: hsl(240, 100%, 5%) */